body {
  background-color: #fff; /* White background */
  color: #333; /* Dark text */

  display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
  background-color: #11101d;
  color: #fff;
  padding: 18px 0;
  position: sticky;
  position: fixed;
  width: 100%;
  text-align: center;
  top: 0;
  z-index: 99; /* Ensure header is above other content */
  margin-bottom: 50px;
}

.header h1 {

  text-align: left;
  font-size: 25px;
  margin: 0;
  padding-left: 50px;
  position: relative;
}

.header .dropdown-menu {
  background-color: #000;
  min-width: 120px;
  z-index: 99;
}

.header .dropdown-menu li {
  list-style: none;
  padding: 8px 12px;
}

.header .dropdown-menu li:hover {
  background-color: #000;
}

.header #dropdownMenuButton {

  background-color: #fff;
}

/* Media query for screens smaller than 576px (e.g., smartphones) */
@media (max-width: 575.98px) {
  .header {
    padding: 12px; /* Decrease padding for smaller screens */
    font-size: 14px; /* Decrease font size for smaller screens */
  }
}

/* Media query for screens between 576px and 991.98px (e.g., tablets) */
@media (min-width: 576px) and (max-width: 991.98px) {
  .header {
    padding: 16px; /* Adjust padding for medium-sized screens */
    font-size: 16px; /* Adjust font size for medium-sized screens */
  }
}

/* Media query for screens larger than 992px (e.g., desktops) */
@media (min-width: 992px) {
  .header {
    padding: 18px; /* Reset padding to original value for larger screens */
    font-size: 18px; /* Reset font size to original value for larger screens */
  }
}

.content { /* Adjust based on header height */
  padding-bottom: 70px; /* Adjust based on footer height */
  padding-left: 70px;
  height: 100vh;
  margin-top: 170px;
  /* Add other styling as needed */
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold; /* Bold headings */
}

/** Footer Styles */

footer {
  background-color: #11101d !important;
  color: #fff;
  z-index: 99;
  bottom: 0;
  position: -webkit-sticky !important;
  position: fixed !important;
  width: 100%;
}
ul {
  padding: 0px;
}
ol, ul {
  margin-bottom: 0px;
}

.social-icon {
  padding: 0;
  margin-bottom: 0px;
      float: right;
}

.social-icon li {
  list-style: none;
  display: inline-block;
}
.social-icon li i {
  font-size: 14px;
  color: #262725;
  border: solid 2px #ffffff;
  height: 31px;
  width: 31px;
  text-align: center;
  vertical-align: middle;
  border-radius: 100px;
  line-height: 27px;
  margin-right: 15px;
  transition: 1s;
  background: #fff;
}
.social-icon li i:hover {
  border: solid 2px #262725;
  color: #ffffff;
  background: #262725;
}

.phone-no i {
  position: relative;
  margin-right: 14px;
  font-size: 43px;
  top: 5px;
}
.phone-no {
  margin-top: -22px;
  text-align: right;
}
.footer-day-time {
  padding-bottom: 30px;
  border-bottom: 2px solid #7a6f6f;
  padding-top: 14px;
  margin-bottom: 55px;
}
.footer-day-time ul li {
  display: inline;
  margin-right: 20px;
}
.footer-day-time ul li:last-child {
  margin-right: 0px;
}
.phone-no a {
  color: #fff;
  font-family: PlayfairDisplay-Black;
  font-size: 34px;
  font-weight: bold;
}
.footer-top {
  background: #2f2f2f;
  padding:25px 0 5px 0;
}
.footer-top h4 {
  font-size: 19px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.footer-top p {
  font-size: 13px;
  line-height: 2;
}

footer p {
margin-bottom:0;
}
.footer-logo {
  display: block;
  margin-bottom: 32px;
}
.address1 li {
  list-style: none;
  position: relative;
  padding: 0px 0 14px 34px;
  line-height: 26px;
}
ul.address1 span {
  position: absolute;
  width: 40px;
  max-width: 40px;
  left: 0;
}
.address1 li a {
  color: #fff;
  text-decoration: none;
}
ul.address1 i {
  width: 20px;
  position: absolute;
  left: 0px;
  text-align: center;
  font-size: 28px;
  top: 0;
}

ul.address1 i.fa-envelope {
  font-size: 18px;
  top: 4px;
}
footer ul.social-icon {
  float: left;
}
footer .social-icon li i:hover {
  background: #4b8800;
  border-color: #4b8800;
}

.footer-bottom {
  padding: 10px 0px;
}
.footer-bottom ul li {
  display: inline;
  margin-right: 20px;
  font-size: 18px;
}
.footer-bottom ul li a{
  color:#fff;
}

.footer-bottom ul {
  float: right;
}

.footer-bottom ul li:last-child {
  margin-right: 0;
}
.copyright {
  font-size: 15px;
}

canvas.report-pie-chart {

  width: 350px !important;
  height: 350px !important;
  display: block;
  margin: 0 auto;
}

/** profile Card */

.profile-body .card {

  border-radius: 30px;
  box-shadow: 2px 2px 5px rgb(0, 0, 0);
  border-radius: 30px;
  background: #343434;
  color: #fff;
}

.profile-container .card {

  border-radius: 30px;
  box-shadow: 2px 5px 5px rgb(0, 0, 0);
  border-radius: 30px;
  background:#343434;
  color: #fff;
  margin-bottom: 25px;
}

.profile-container .card .heading {

  color: #7F00FF;
  font-weight: 600;
}

.profile-container .card p.text {

  color: #fff !important;
}

#today-metric-row .card-header {

  border-radius: 5px;
  box-shadow: 2px 3px 5px rgb(0, 0, 0);
  border-radius: 5px;
  background:#343434;
  color: #fff;
}

#blood-test-chart-row .card-header {

  border-radius: 5px;
  box-shadow: 2px 3px 5px rgb(0, 0, 0);
  border-radius: 5px;
  background:#343434;
  color: #fff;
}

#data-table thead tr {

  border-radius: 10px;
  box-shadow: 2px 3px 5px rgb(0, 0, 0);
  border-radius: 10px;
  background:#343434;
  color: #fff;
  text-align: center;
}

#data-table tbody {text-align:center}

.settings-form {
  background-color: #343434;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 2px 5px 5px rgb(0, 0, 0);
  color: #fff;
  border: 2px solid black;
}

.settings-form .settings-data {
  margin-bottom: 5px;
    padding: 10px;
}

button.dt-button.buttons-excel.buttons-html5 {
  background: #343434;
  border-radius: 5px;
  color: #fff;
}

button.dt-button.buttons-excel.buttons-html5:hover {
  background: #000;
  border-radius: 5px;
  color: #fff;
  font-weight: 500;
}

div#data-table_length {
  position: relative;
  bottom: 0;
  position: absolute;
  bottom: -50px;
  left: 0px;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 5px;
}

.required-mark {

  color: red;
}

.settings-data label {
  display: block;
}

.settings-data select {
  width: 100%;
  line-height: 5px !important;    
  padding: .375rem .75rem;
  border-radius: .375rem;
}

form#detail-edit-form select {
    border-radius: 5px;
    width: 100%;
    line-height: 1.5;
    padding: 5px;
}

.header-profile-pic-btn {

  background-color: #11101d !important;
}

.header-profile-pic-btn img {

  border: 1px solid #fff;
}

/* Dashboard Chart Mobile View */

/* Media query for screens smaller than 576px (e.g., smartphones) */
@media (max-width: 575.98px) {
  canvas.dashboard-chart {

    height: 500px !important;
  }
}

    .hidden {
        display: none;
    }